<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="DataSource=100.1.1.1;UserID=UGPWIWV1;Password=olvido; DataCompression=True;" providerName="IBM.Data.DB2.iSeries"/>-->
    <add name="Conexion" connectionString="DataSource=qavapp01.bciseguros.cl;UserID=quser;Password=quser; DataCompression=True;" providerName="IBM.Data.DB2.iSeries"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WcfConsumoAS400.Servicio" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WcfConsumoAS400.IServicio" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          -->
    <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
    <!--
          <serviceMetadata httpGetEnabled="true"/>
          -->
    <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>